Makefile
Makefile.in
alberta2d-view1.eps
alberta2d-view2.eps
ugcube2d.eps
alberta2d.eps
ugsimplex2d.eps
ug2dtri-view1.eps
ug2dtri-view2.eps
iso.eps
ugcube3d.eps
alberta3d.eps
yasp3d.eps
ugsimplex3d.eps
ug2dquad-view1.eps
ug2dquad-view2.eps
alucube3d.eps
alusimplex3d.eps
adaptiveintegration_alberta2d.eps
conc.eps
adaptiveintegration_ug3d.eps
fem2d.eps
fem3d.eps
